API_ID="7072856"
API_HASH="e7ff17e541bf5d0f98f2fe846540ce8e"
DATABASE_URL="mongodb+srv://userbot:userbot@cluster0.mbdpa.mongodb.ne
t/test?retryWrites=true&w=majority"
LOG_CHANNEL_ID="-1001581914795"
DOWN_PATH="downloads/"
CMD_TRIGGER="?"
SESSION_STRING="BQBr7FgAJYszKSa533kuM2b_gAh2i3GJluNmfKnxVI5RxlKU3hfkA
_cG8r0hPf9HPGRTeISwKWI1qgzLrFzVILsBua_0M6iLPY2ob-IBLunu_ODxT7mPnqOy_4
XzSnlilymdTT3ndKUtKhx-xwRRMlddddmuITcoHdG1_bW6NNWXjR5cChOYy3XF5Cka-HP
4FvoPjkXjdDqWcHwY-T6ZavRrhlrc88UGiZkPB6LgdN8XnSUIWqOwHCnj-qJGkxZphU7m
vuXKV2SAgIsuHWFYPxpeX-sthWhWkxYbk_VxBFEoTUZYzOhxMoag3S83fhiBYCrCQaCXi
dIIm4U1xumaq3NgmBz2zwAAAABvOetOAA"
BOT_TOKEN="5498220332:AAG59pdYKmrpfe7I9BiPM7b0Eg96Z2FiEnc"
OWNER_ID="1866066766"
